################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SignatureProfiler
**/x64/**

*.vcxproj*
/ProfilerLib/deps/imgui-1.89.3
